@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;

}




body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 100%;
    zoom: 0.75;
    background-color: white;
}

body p {
    font-family: 'Poppins', sans-serif;
}

body ul {
    font-family: 'Poppins', sans-serif;
}


header {
    display: flex;
    position: fixed;
    z-index: 99;
    width: 100%;

}

.logo img {
    margin: auto;
    height: 120px;
    width: 400px;
    border-bottom: 3px #e2e1a6 solid;


}

.menu {
    height: 120px;
    width: 100%;
    background-color: rgba(57, 57, 57, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 110px;
    border-bottom: 3px #e2e1a6 solid;
    flex-wrap: wrap;
    padding-right: 100px;
}

.menu a {
    color: white;
    font-size: 24px;
}


.itens {
    height: 800px;
    width: 100%;
}

#c1 {
    background-image: url(./img/trabalho2.jpg);
    background-size: cover;
}

#c2 {
    background-image: url(./img/trabalho3.jpg);
    background-size: cover;
}

#c3 {
    background-image: url(./img/trabalho4.jpg);
    background-size: cover;
}

#c4 {
    background-image: url(./img/trabalho5.jpg);
    background-size: cover;
}

#c4 {
    background-image: url(./img/trabalho5.jpg);
    background-size: cover;
}



#empresa h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;

}

.area-galeria {
    margin-top: auto;
}

#empresa h1 {
    color: black;

}

#empresa {
    width: 100%;
    background-color: white;
    border-radius: 8px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: table;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}


.textos1 {
    margin-top: 15px;
    font-size: medium;
    font-family: 'Montserrat Alternates', sans-serif;
    color: black;
    text-align: center;
    flex-wrap: wrap;
}

.textos1 p {
    font-size: 15px;
}

.textos2 {
    margin-top: 15px;
    font-size: medium;
    font-family: 'Montserrat Alternates', sans-serif;
    color: black;
    text-align: center;
}

.textos2 ul li {
    font-size: 17px;

}

.textos3 {
    margin-top: 15px;
    font-size: medium;
    font-family: 'Montserrat Alternates', sans-serif;
    color: black;
    text-align: center;
    flex-wrap: wrap;
}

.textos3 p {
    font-size: 17px;
}



.textos4 {
    margin-top: 15px;
    font-size: medium;
    font-family: 'Montserrat Alternates', sans-serif;
    color: black;
    text-align: center;
}

.textos4 p {
    font-size: 17px;
    padding-bottom: 15px;
}




#serviços ul {
    margin-left: 50px;
    margin-top: 10px;
    font-size: medium;
}

#serviços {
    width: 100%;
    border-radius: 8px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: table;

}

#serviços li {
    margin-bottom: 15px;
}

#serviços ul {
    margin-bottom: 15px;
}

#serviços h1 {
    color: black;
}

#serviços h2 {
    font-size: medium;
}

.cards {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    padding: 32px;
    justify-content: center;
}

.card-contact {
    display: flex;
    flex-direction: column;
    background-color: rgba(57, 57, 57, 255);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.389);
    padding: 24px;
    width: 300px;
    text-align: center;
    position: relative;
    font-size: 14px;
}

.icon {
    color: white;
    margin-bottom: 16px;
}

.card-contact button {
    position: absolute;
    bottom: 10px;
    left: 75px;


    background: linear-gradient(to right, #4fd487, #0ba52d);
    width: 50%;
    height: 40px;
    border-radius: 15px;
    border: none;
    margin: auto;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.card-contact::before {
    position: absolute;
    content: ' ';
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid #06d62e;
    border-right: 20px solid #06d62e;
}

.content {
    position: relative;
    color: white;
}

.content p {
    margin-bottom: 10px;
}


/* footer */
footer {
    display: flex;
    align-items: flex-start;
    gap: 250px;
    background-color: #3f3f3f;
    border-top: 5px solid #06d62e;
    padding: 60px 0px 60px 20px;
    color: white;
    flex-wrap: wrap;
}

.footer-box1 {
    display: flex;
    align-items: center;
}

.footer-box1 img {
    height: 100px;
}










@media screen and (max-width: 1064px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }

    .cards section.card {
        margin-left: 0;
        margin-bottom: 32px;
    }

    .cards section.card:last-child {
        margin-bottom: 0;
    }

    .cards section.card button {
        font-size: 70%;
    }

    .galeria {
        width: 100%;
    }

    .logo {
        display: none;
    }

    header {
        position: relative;
        top: 0;
    }

    .menu {
        padding-left: 30px;
        padding-right: 30px;
    }

    .menu a {
        font-size: 16px;
    }


    #empresa img {
        margin-left: 0;

    }






}